<% content_for :head do %>
  <%= javascript_include_tag 'spree/backend/jquery.treemenu' %>
  <%= stylesheet_link_tag 'spree/backend/jquery.treemenu' %>
  <%= javascript_include_tag 'spree/backend/editor' %>
  <%= stylesheet_link_tag 'spree/backend/editor' %>
<% end %>

<% content_for :page_title do %>
  <%= link_to Spree.t(:templates), admin_themes_path %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_template), new_admin_theme_template_url, class: "btn-success", icon: 'add', id: 'admin_new_theme_template_link' %>
<% end %>

<div class="row">
  <div class="col-md-push-9 col-md-3" id="tree-menu-sidebar">
    <% filepath = File.join(Rails.root, 'public', 'zgc_spree_themes', @theme.name) %>
    <%= display_filetree_structure(@theme, filepath).html_safe %>
  </div>

  <div data-hook='template-editor' class="col-md-pull-3 col-md-9">
    <%= render partial: 'editor' %>
  </div>
</div>

<%= javascript_include_tag 'spree/backend/template' %>
